.layout {
  display: flex;
  min-height: 100vh;
  /* height: auto; */
  align-items: stretch;
  /* padding-left: 20px; */
}

.content {
  flex: 1;
  padding: 2rem;
    margin-left: 300px;
    overflow-y: auto;
  box-sizing: border-box;
  /* border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; */
  background-color: #e6f1fb;
}
.nav {
  display: none;
}

@media (max-width: 768px) {
  .nav {
    display: block;
  }
  .content {
    margin-left: 0;
    padding: 1rem;
  }
}
